<div class="jumbotron">
  <h1 class="title">未来空间</h1>
  <p class="slogan">有了这样的建筑 大家再也不用担心雾霾了。
  <br>
  未来空间提供建筑行业的超高薪工作。
  <br>
  凭借人类色智慧与创意，我们终将改变世界。
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
</div>
<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1feuovs45moj308206mq7j.jpg" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>垂直森林住宅</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1feupgf280ij308a070jvf.jpg" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>人与自然共生</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1feupjrmyyuj3087078jvl.jpg" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>空中停车场</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
